@main("What We Do") {

<section>
    <h1>What We Do</h1>
</section>

<section id="citeplasm">
    <h2>
        <img src="@routes.Assets.at("images/citeplasm_logo.png")" alt="Citeplasm" />
    </h2>

    <p>
        Citeplasm aims to be a best-in-class research and collaboration tool for 
        academic professionals and students.
    </p>

    <div class="row">
        <div class="span6">
            <p>
                <img src="http://placehold.it/360x250" />
            </p>
        </div>
        <div class="span6">
            <h3>Built on Scholarship Graph&trade;</h3>
            <p>
                The core - and coolest - feature of Citeplasm is Knowledge Graph, an
                inter-connected web of reliable informaton and data from
                governmental and academic organizations throughout the world.
            </p>
            <p>
                <a class="btn btn-primary" href="http://www.citeplasm.org/demo">See a demo &raquo;</a>
                <a class="btn" href="http://www.citeplasm.org/docs">Read the Docs &raquo;</a>
            </p>
        </div>
    </div>

    <p>
        Citeplasm leverages our <a href="#elodi">Linked Open Data
        Initiative</a> as well as the open data projects of governmental and
        academic organizations across the globe to provide fully-integrated
        access to mountains of articles and a sea of data - all organized, all
        in one place, all reliable.
    </p>

</section>

<section id="elodi">
    <h2>
        <img src="@routes.Assets.at("images/elodi_logo.png")" alt="Emergenesis Linked Open Data Initiative" />
    </h2>

    <p>
        Though the Internet is largely a web of documents, the next paradigm is
        a browseable, semantically-linked web of data. Learn how Emergenesis is
        linking millions of documents into the Semantic Web.
    </p>

    <p>
        In essence, we take human-readable open data provided by governmental
        and academic organizations from around the globe and process them into a
        machine-readable, integrated format. Semantic processing...
    </p>

</section>

}
